@import url('https://fonts.googleapis.com/css?family=Lora');

@font-face {
  font-family: 'New Yorker';
  font-style: normal;
  src: url("../fonts/newyorker.ttf") format("truetype");
}

body {
  font-family: 'Lora', serif;
  font-size: 13px;
  line-height: 1.35em;
}

h1, h2, h3 {
  line-height: 1.3em;
}

#title {
  font-family: 'New Yorker';
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  line-height: 0.9em;

  span {
    display: block;
    font-size: 32px;
  }
}

img {
  max-width: 100%;
}

.article {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 40px;
  margin-bottom: 100px;
}

code {
  padding: 2px 4px;
  font-family: monospace;
  word-wrap: break-word;
  font-size: 0.75rem;
  line-height: 1.1em;
  color: #003659;
  background: #d6eaf4;
  border-radius: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: inline;
  overflow: auto;
}

pre {
  overflow: auto;
  background-color: #fafafa;
  border-radius: 3px;
  margin: 20px 0;
  display: block;
  padding: 9.5px;
  font-size: 0.75rem;
  line-height: 1.4em;
  white-space: pre-wrap;
  color: #333;
  border: 1px solid #ccc;

  code {
    padding: 0;
    font-size: 0.7rem;
    line-height: 1.35em;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
  }
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  line-height: 1.2em;
  border-left: 5px solid #eee;
}

@media print {
  #title {
    page-break-after: always;
    font-size: 84px;
    margin-top: 0;

    span {
      display: block;
      font-size: 48px;
    }
  }
}

@page {
  size: auto;
  margin: 10mm 10mm 25mm;
}
